* {
    font-family: Lato, sans-serif;
}

body {
    background-color: #f1f1f1;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    border-radius: 10px;
}

ul.nav li {
    float: left;
    background-color: lightblue;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* i think this applies for all a links  */
li a:hover {
    background-color: #111111;
}